  <style>
    marquee {
      font-size: 1.5rem;
      font-weight: bold;
      color: #007bff;
    }
    img{
    height:200px;
    width:200px;
    margin-right:100px;}
  </style>
  <marquee behavior="scroll" direction="left">
<img src="/home/apiiit123/Documents/Mobile_Shop/templates/asus.png">
<img src="/home/apiiit123/Documents/realme.png">
<img src="/home/apiiit123/Documents/vivo.png">
<img src="/home/apiiit123/Documents/oppo.png">
<img src="/home/apiiit123/Documents/oneplus.png">
<img src="/home/apiiit123/Documents/black.png">
<img src="/home/apiiit123/Documents/download.png">
<img src="/home/apiiit123/Documents/mi.png">
  </marquee>